body {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    position: relative;
}

.box-log {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    flex-direction: column;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}