/* Login */
#page-login {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 53, 53, 0.4);
    height: 100vh;
    pointer-events: all;
}

.box-log {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    color: var(--white-text);
}

.box-log header {
    padding-top: 6rem;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.box-log p {
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: var(--text-color);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 4rem;
}

form input {
    color: var(--white-text);
    background-image: linear-gradient(166deg, #2c2d2f 0% 100%), linear-gradient(166deg, #525A63 0%, #2E353C 50%, #616972 50%, #3E464F 100%);
    background-size: auto auto, 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 2px 2px 8px rgba(4, 4, 5, 0.6);
    padding: 2.4rem 2rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    letter-spacing: .14rem;
}

form input[type = button] {
    box-shadow: 0 0 .1rem #4f535a,
                0 0 .2rem #565b63,
                0 0 .3rem #565b63,
                0 0 .4rem #565b63;
    background-color: #373a3f;
    font-size: 2rem;
    font-weight: 1000;
    padding: 1rem;
    color: #8b949e;
    letter-spacing: 0;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.close i {
    font-size: 1.4rem;
    color: var(--text-color);
}

.close i:hover {
    color: var(--white-text);
}

/* Loading */
.loading {
    color: var(--text-color);
    font-size: 8rem;
    font-weight: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.ld-ctn {
    position: relative;
    display: flex;
    gap: 1rem;
    transition: 2s;
    width: fit-content;
}

.up {
    transform: translateY(-2rem);
}

@keyframes loading {
    0% {
        width: 0%;
    }    
    100% {
        width: 50%;
    }
}

.ld-line {
    animation: loading ease 2s;
    height: 1rem;
    background-color: var(--text-color);
    width: fit-content;
    border-radius: 10rem;
}

:focus {
    outline: none;
}

/* Navbar control */
.navbar {
    width: 94%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    backdrop-filter: blur(.6rem);
    z-index: 999;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
}

.logo--left {
    padding: 1.5rem 0;
}

@keyframes leftToRight {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

.control-item:hover .line-control {
    margin-top: .3rem;
    text-align: left;
    width: 50%;
    height: .3rem;
    border-radius: 10rem;
    background-color: #78c5d5;
    animation: leftToRight ease-in-out .3s;
}

.active {
    margin-top: .3rem;
    text-align: left;
    width: 50%;
    height: .3rem;
    border-radius: 10rem;
    background-color: #78c5d5;
    animation: leftToRight ease-in-out .3s;
}

.control {
    display: flex;
    font-size: 1.7rem;
}

.control .list--control {
    display: flex;
    align-items: center;
}

.control .list--control .control-item {
    padding: 0 2rem;
    cursor: pointer;
}

.control .list--control a {
    color: var(--text-color);
}

.main-page {
    position: relative;
}

.list-page {
    position: absolute;
    left: -.6rem;
    top: 4rem;
    padding: 1.2rem 3rem 1.4rem 1.6rem;
    border-radius: 1rem;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    color: var(--text-color);
    display: none;
}

.list-page::after {
    content: '';
    width: 100%;
    height: 4rem;
    position: absolute;
    top: -2.6rem;
    left: 0;
}

.main-page:hover .list-page {
    display: block;
}

.list-page .page {
    width: 12.4rem;
    padding: 1rem 2rem .5rem 1rem;
    border-radius: .8rem;
    white-space: nowrap;
}

.list-page .page:hover {
    background-color: #393d41;
    transition: .2s;
}

.get {
    padding: 0 1rem;
}

.get button {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.4rem 3rem;
    border-radius: 1rem;
    background-color: #3b3e43;
    color: #b3becc;
}

/* Header */
#home {
    position: relative;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    color: #d7e1eb;
    height: 60rem;
    padding-bottom: 16rem;
    overflow: hidden;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    display: flex;
    transition: .8s;
}

.home-item {
    width: 120rem !important;
    max-width: 100vw !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-item1 {
    gap: 4rem;
}

#home-item2 {
    gap: 30rem;
}

#home-item3 {
    gap: 20rem;
}

.list-scroll {
    color: var(--text-color);
}

.head-scroll {
    position: absolute;
    right: 0;
    top: 40%;
}

.head-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 2rem;
    background-color: transparent;
    z-index: 1;
}

.highlight {
    font-size: 2.2rem !important; 
    border-bottom: .1rem solid #4c4f52 !important; 
    padding-bottom: .8rem !important; 
    padding-right: .6rem !important; 
    color: aliceblue !important; 
    cursor: pointer !important; 
    letter-spacing: normal !important; 
    margin-bottom: -.6rem !important;
}

.text-heading {
    font-size: 6rem;
    line-height: 6.6rem;
    font-weight: 800;
}

.text-main {
    font-size: 2rem;
    line-height: 3.6rem;
    color: #9d9da8;
}

.heading-button {
    font-size: 1.8rem;
    word-spacing: .1rem;
    color: #b4bfcd;
    padding: 2rem 3.6rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    background-color: #35393e;
    text-align: left;
    font-weight: 600;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38),
        -4px -2px 16px rgba(195, 200, 205, 0.08);
}

.background {
    font-size: 26rem;
    position: absolute;
    left: -104rem;
    top: -50rem;
    padding: 100rem 16rem 16rem 100rem;
    z-index: 0;
    color: #2c2d2f;
    font-weight: 1000;
    border-radius: 6rem;
    box-shadow: 1rem 1rem 4rem #2a2b2d,
        -.4rem -.2rem 3rem #2a2b2c;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
}

/* Features */
.features {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    padding: 12rem 4rem;
    gap: 2rem;
    color: #d7e1ea;
    padding-bottom: 12rem;
}

.main-feature {
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.text-feat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-feat {
    font-size: 3.4rem;
    font-weight: 800;
    padding-right: 3rem;
    position: relative;
    display: flex;
    align-items: center;
}

.line {
    width: .2rem;
    height: 4rem;
    background-color: #2a2b30;
}

.section-feat {
    font-size: 1.4rem;
    color: #94a2b2;
    padding-left: 2rem;
    line-height: 2rem;
}

.list-features {
    display: flex;
    overflow-x: auto;
    width: 69.5rem;
    margin-top: 5rem;
    scroll-snap-type: x mandatory;
    justify-content: space-between;
    gap: 4.4rem;
    padding-bottom: 5rem;
}

.feature-item {
    flex: 0 0 24rem;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #3A3E41 0%, #2A2D30 49%, #242628 100%), linear-gradient(139deg, #434B54 1%, #2A2C2F 45%, #191B1E 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
    width: 30%;
    border-radius: 2rem;
    display: flex;
    padding: 4rem 2rem;
    flex-direction: column;
    text-align: left;
    gap: 2.3rem;
    scroll-snap-align: start;
}

.feature-item .icon {
    background: linear-gradient(136deg, #2D3135 7%, #3E4248 50%, #2D3135 93%) 0% 0% / 200% 200%;
    box-shadow: inset -2px -2px 2px rgba(83, 86, 102, 0.14), inset 2px 2px 5px rgba(0, 0, 0, 0.38);
    border-radius: 1rem;
    width: fit-content;
}

.feature-item .icon i {
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    padding-left: 1.4rem;
    color: #fe8c67;
}

.sub-icon {
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}

.fa-dice-d6 {
    color: #77c6d5 !important;
}

.fa-comment-alt {
    color: #66c8a5 !important;
}

.fa-undo-alt {
    color: #7dbbc7 !important;
}

.main-icon {
    font-size: 1.4rem;
    color: #94959e;
    white-space: nowrap;
    line-height: 2rem;
}

.list-features::-webkit-scrollbar {
    height: 1rem;
}

.list-features::-webkit-scrollbar-track {
    background: linear-gradient(85deg, #24262B 1%, #2A2C2E 98%);
    box-shadow: inset -2px -4px 8px rgba(73, 73, 73, 0.4), inset 0px 4px 7px #151616;
}

.list-features::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background: linear-gradient(175.7deg, #3E4248 0%, #313437 100%);
    box-shadow: -1px 2px 2px rgba(15, 18, 22, 0.6), inset 0px -2px 1px #0E1216;
}

/* Pricing */
#pricing {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    padding: 10rem 4rem;
    color: var(--white-text);
}

.pricing-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-left {
    font-size: 3.4rem;
    font-weight: 800;
    cursor: pointer;
}

.often-list {
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
}

.often-item.unlight {
    color: #9d9a9d;
}

.button-change {
    display: flex;
    width: 6rem;
    height: 3rem;
    padding: .3rem;
    margin-left: -1rem;
    background-image: linear-gradient(136deg, #212224 0% 33%, #292B2D 66% 100%), linear-gradient(136deg, #3F4A54 0%, #1E2328 100%);
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-radius: 50rem;
    box-shadow: inset 2px 2px 8px rgba(4, 4, 5, 0.6);
    transition: all ease-in-out 1s;
}

.change-in {
    display: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #35383d;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes breakItems {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.change {
    justify-content: right;
}

.circle-bottom,
.circle-top {
    display: flex;
    flex-direction: row;
    gap: .4rem;
}

.four-circle {
    display: flex;
    gap: .4rem;
    flex-direction: column;
}

.circle {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-image: linear-gradient(110deg, #798188 0%, #1F2328 93%), linear-gradient(130deg, #4D5258 0%, #2A3036 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.06);
}

.pricing-choice {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.choice {
    padding: 0 7rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    background-image: linear-gradient(135deg, #3A3E41 0%, #2A2D30 49%, #242628 100%), linear-gradient(139deg, #434B54 1%, #2A2C2F 45%, #191B1E 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
}

.choice:nth-child(2) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.level {
    padding-top: 5rem;
    font-size: 2rem;
}

.choice .cost-y {
    padding-top: 2rem;
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: left;
}

.choice .cost-y .cost {
    font-size: 3.6rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.choice .cost-y .cost .line {
    height: 3.4rem;
    width: .4rem;
    background-color: #fe8c68;
    border-radius: 1rem;
}

.choice .cost-y .term {
    font-size: 1.3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: #9e9fa8;
}

.choice .cost-y .term span {
    font-size: 1.8rem;
    color: var(--white-text);
}

.choice-mid {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.choice-mid .popular {
    text-align: center;
    padding: .5rem 0;
    font-size: 1.4rem;
    background-color: #fe8c68;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.list-right {
    padding-top: 3.4rem;
    font-size: 1.4rem;
    text-align: left;
    line-height: 3.6rem;
}

.item-right {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.choice.left .list-right .item-right:nth-child(3),
.choice.left .list-right .item-right:nth-child(4),
.choice.left .list-right .item-right:nth-child(5),
.choice.mid .list-right .item-right:nth-child(5) {
    color: #9e9fa8;
}

.choice .select {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 1.4rem;
    padding: 1.6rem 3rem;
    margin: 3rem auto;
    letter-spacing: .1rem;
    background-image: linear-gradient(166deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(166deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 200% 200%;
    color: #b4c0ce;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
}

/* Contact */
.contact {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    padding: 16rem 2rem;
    padding-bottom: 10rem;
}

.contact-title {
    font-size: 3.6rem;
    font-weight: bolder;
    color: var(--white-text);
    text-align: center;
    padding-bottom: 8rem;
}

.contact-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit.left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 23%;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.benefit.right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 23%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.first-item.title,
.second-item.title {
    color: var(--white-text);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.first-item.title.icon .fas,
.second-item.title.icon .fas {
    padding: 1.6rem 1.6rem;
    background: linear-gradient(-32deg, #1A1D21 3%, #393D42 44% 56%, #1A1D21 97%) 0% 0% / 200% 200%;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4), -4px -2px 16px rgba(195, 200, 205, 0.08);
    border-radius: 50%;
}

.benefit.left .first-item.title.icon .fas,
.benefit.left .second-item.title.icon .fas {
    margin-left: 1rem;
}

.benefit.right .first-item.title.icon .fas,
.benefit.right .second-item.title.icon .fas {
    margin-right: 1rem;
}

.first-item.main,
.second-item.main {
    font-size: 1.4rem;
    color: #a09b9a;
}

.benefit.left .line,
.benefit.right .line {
    width: 50%;
    height: .1rem;
}

.benefit .line::after {
    content: '';
    display: block;
    opacity: 1;
    width: 100%;
    height: .1rem;
    background-image: linear-gradient(180deg, #2E3138 0%, #43464E 100%);
}

.image-center {
    margin-top: -5rem;
}

.image-center .image {
    width: 40rem;
    height: 40rem;
    padding: 1rem;
    border: .1rem solid rgba(200, 200, 200, 0.1);
    margin: .3rem;
    background-color: #242627;
    border-radius: 50%;
}

.image-center .image img {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 50%;
}

.image-center .border-out {
    padding: 6rem;
    background-color: #242527;
    border-radius: 50%;
    border: .1rem solid rgba(215, 225, 236, 0.05);
}

.image-center .play {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    font-size: 1.8rem;
}

/* Footer */
/* GetIn */
.getIn {
    display: flex;
    gap: 4rem;
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    color: var(--white-text);
    padding: 8rem 3rem;
    padding-top: 14rem;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.subscribe-heading {
    font-size: 3.4rem;
    font-weight: 800;
    letter-spacing: .1rem;
}

.subscribe-text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #90979d;
}

.comment .input {
    display: flex;
    gap: 4rem;
}

.comment .input input {
    padding: 1.6rem 2rem;
    color: var(--white-text);
    width: 50%;
    border-radius: 1rem;
    background-image: linear-gradient(166deg, #2c2d2f 0% 100%), linear-gradient(166deg, #525A63 0%, #2E353C 50%, #616972 50%, #3E464F 100%);
    background-size: auto auto, 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 2px 2px 8px rgba(4, 4, 5, 0.6);
    transition: 0.7s ease-in-out;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    line-height: 2rem;
    padding: 2rem;
    background-image: linear-gradient(166deg, #2c2d2f 0% 100%), linear-gradient(166deg, #525A63 0%, #2E353C 50%, #616972 50%, #3E464F 100%);
    background-size: auto auto, 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 2px 2px 8px rgba(4, 4, 5, 0.6);
    transition: 0.7s ease-in-out;
    border-radius: 1rem;
    color: var(--white-text);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn-sub {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;

}

.btn-sub button {
    font-size: 2rem;
    padding: 1.2rem 4rem;
    border-radius: 1rem;
    background-image: linear-gradient(166deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(166deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
    background-position: 0% 0%, 100% 100%;
    background-size: 300% 300%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: #b4c0ce;
    text-shadow: inherit;
    font-weight: bold;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
}

label input {
    color: linear-gradient(166deg, #2c2d2f 0% 100%), linear-gradient(166deg, #525A63 0%, #2E353C 50%, #616972 50%, #3E464F 100%);
    background-size: auto auto, 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 2px 2px 8px rgba(4, 4, 5, 0.6);
    transition: 0.7s ease-in-out;
}

label {
    display: flex;
    align-items: start;
    gap: .6rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.get-app {
    background-image: linear-gradient(135deg, #3A3E41 0%, #2A2D30 49%, #242628 100%), linear-gradient(139deg, #434B54 1%, #2A2C2F 45%, #191B1E 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
    border-radius: 2rem;
    padding: 7rem 3rem;
    box-sizing: border-box;
}

.app {
    display: flex;
    gap: 4rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid #373a3f;
}

.add-left,
.add-right {
    width: 50%;
}

.add-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-left .heading,
.add-right .contacts {
    font-size: 2.4rem;
    font-weight: bolder;
}

.add-left .apple {
    margin-top: 4rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-image: linear-gradient(166deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(166deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: #b4c0ce;
    text-shadow: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
}

.add-left .gg-play {
    margin-top: 1rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-image: linear-gradient(166deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(166deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: #b4c0ce;
    text-shadow: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
}

.add-left .apple .fa-apple,
.add-left .gg-play .fa-google-play {
    margin-right: 1rem;
    padding: 1rem;
    border-radius: .6rem;
    background: linear-gradient(136deg, #2D3135 7%, #3E4248 50%, #2D3135 93%) 0% 0% / 200% 200%;
    box-shadow: inset -2px -2px 2px rgba(83, 86, 102, 0.14), inset 2px 2px 5px rgba(0, 0, 0, 0.38);
}

table {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    border-spacing: 0 4rem;
    box-sizing: border-box;
}

td {
    vertical-align: top;
    padding-left: rem;
}

tr .left {
    text-align: right;
    color: #62676b;
    padding-right: .6rem;
}

.get-app footer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    gap: 2rem;

}

.social .fab {
    padding: 1.2rem;
    border-radius: 50%;
    font-size: 2rem;
    border: 0.15625rem solid transparent;
    background-image: linear-gradient(135deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(135deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
}

.copyright {
    width: 50%;
    font-size: 1.5rem;
    color: #595654;
}


/* What */
.what {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    flex-direction: column;
    padding: 8rem 0;
}

.what-title {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.what-title-left {
    width: 54%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.what-title-left .sub {
    color: var(--white-text);
    font-size: 3.4rem;
    font-weight: 1000;
}

.what-title-right .see {
    display: flex;
    gap: 4rem;
    color: var(--white-text);
    font-size: 1.8rem;
    padding: 2rem 4rem;
    border-bottom: .3rem solid rgba(29, 31, 35, 0.8);
}

.thing {
    position: relative;
    cursor: pointer;
}

.thing:hover .line-hover {
    position: absolute;
    bottom: -2.3rem;
    left: 0;
    right: 0;
    animation: leftToRight ease-in .2s;
    background-color: #78c5d5;
    width: 40%;
    height: .3rem;
}

.thing:hover {
    transform: translateY(-.3rem);
}

.what-title-left .text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
    color: #98a0ad;
}

.what-new {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
}

.what-new .image {
    width: 33.33%;
    padding: 10rem 4rem;
    color: var(--white-text);
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.what-new .image .date {
    font-size: 1.9rem;
}

.what-new .image .solution {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bolder;
}

.image.first {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, .68) 100%), url(/assets/image/image-11-640x464.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.image.second {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, .68) 100%), url(/assets/image/image-12-640x464.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image.third {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, .68) 100%), url(/assets/image/image-13-640x464.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* How */
.how {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    flex-direction: column;
    padding: 10rem 4rem;
}

.how .title {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 5rem;
}

.how .title .main {
    color: var(--white-text);
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: -.1rem;
}

.how .title .border {
    height: 3.4rem;
    width: .1rem;
    background-image: linear-gradient(90deg, #2E3138 0%, #43464E 100%);
}

.how .title .text {
    font-size: 2rem;
    color: #979cad;
}

.how-list {
    display: flex;
    position: relative;
    padding-bottom: 4rem;
    justify-content: space-between;
}

.how-list::after {
    content: '';
    position: absolute;
    height: .1rem;
    width: 100%;
    bottom: 0rem;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, #2E3138 0%, #43464E 100%);
    opacity: .9;
}

.how-item {
    width: 19%;
    background-image: linear-gradient(135deg, #3A3E41 0%, #2A2D30 49%, #242628 100%), linear-gradient(139deg, #434B54 1%, #2A2C2F 45%, #191B1E 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 4rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}


.how-item .number {
    padding: 1.4rem 1.2rem;
    width: fit-content;
    height: fit-content;
    color: #77c6d3;
    font-size: 2.2rem;
    border-radius: 1rem;
    background: linear-gradient(136deg, #2D3135 7%, #3E4248 50%, #2D3135 93%) 0% 0% / 200% 200%;
    box-shadow: inset -2px -2px 2px rgba(83, 86, 102, 0.14), inset 2px 2px 5px rgba(0, 0, 0, 0.38);
}

.how-item .sub {
    color: var(--white-text);
    font-size: 1.8rem;

}

.how-item .text {
    color: #97a1b0;
    font-size: 1.4rem;
    line-height: 2rem;
}

@keyframes leftRight {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.how-item:hover .line-hover {
    position: absolute;
    bottom: -6rem;
    left: 0;
    right: 0;
    width: 100%;
    height: .4rem;
    border-radius: 10rem;
    background-color: #78c5d5;
    animation: leftRight ease-in-out .3s;
}

.how-item:hover {
    transform: translateY(-2rem);
}

/* Career */
.yourCareer {
    background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #26282a 0%, #212325 100%);
    display: flex;
    flex-direction: column;
    padding: 10rem 4rem;
}

.yourCareer section {
    display: flex;
}

.yourCareer section .career .head-top {
    font-size: 2.6rem;
    line-height: 3rem;
    color: var(--white-text);
    font-weight: bold;
}

.yourCareer section .career .cr-list {
    margin-top: 3rem;
}

.cr-item {
    margin-bottom: 2rem;
    color: #9c9fa9;
    font-size: 1.4rem;
}

.cr-text {
    margin-top: 3rem;
    color: var(--white-text);
    font-size: 1.5rem;
    letter-spacing: .2rem;
    line-height: 2.4rem;
}

.number-phone {
    margin-top: 1rem;
    cursor: pointer;
    color: #7bbbc9;
    font-size: 1.5rem;
    opacity: .7;
}

.number-phone:hover {
    opacity: 1;
}

.cr-image img {
    width: 100%;
    height: 90%;
}

.cr-job {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.cr-job .item {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.4rem;
    border-top: .1rem solid #35373e;
    border-bottom: .1rem solid #35373e;
    color: #c9d2db;
    cursor: pointer;
    border-radius: 1.5rem;  
}

.cr-job .cr-level {
    color: #7eb5c0;
}

.cr-job .icon-next {
    cursor: pointer;
    opacity: .2;
}

.cr-job .item:hover {
    scale: 1.02;
    border-radius: 1.5rem;
    background-image: linear-gradient(175deg, #3A3E41 0%, #2A2D30 49%, #242628 100%), linear-gradient(175deg, #434B54 1%, #2A2C2F 45%, #191B1E 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.25rem 0.9375rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
}

.cr-job .item:hover .icon-next {
    opacity: 1;
}

.cr-end {
    margin-top: 5rem;
    color: #67707c;
    font-size: 2rem;
}

.cr-end span {
    margin-left: 1.4rem;
    font-size: 1.7rem;
    color: var(--white-text);
}