.status {
    width: 350px;
    height: 350px;
    border: 50px solid aquamarine;
    padding: 20px 20px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
}

.status--top {

}
.status--top__name {
    color: brown;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.status--top__job {
    color: brown;
    font-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.status--down {
    color: #333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
}
.status--down__image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    /* display: flex;
    align-self: center !important; */
}
.status--down__link {
    display: inline-block;
}