<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WuwaFlex</title>
    <link rel="stylesheet" href="../statics/css/base.css">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
</head>

<body>
    <div class="main">
        <nav>
            <ul class="nav-items">
                <li><img src="../image/wuwaflex-nav-logo-white1.png" alt="" width="16rem" height="3.5rem"></li>
                <li>Generator</li>
                <li>Builds</li>
                <li>Ranking</li>
                <li>Popular</li>
                <li>About</li>
                <li><img src="../image/ico-discord.webp" alt=""><img src="../image/kofi-badge.png" alt=""></li>
            </ul>
        </nav>

        <div id="ad"><img src="../image/banner-lootbar-v5.webp" alt=""></div>

        <div class="builds">
            <ul class="list-build">
                <li class="item-build"><img src="../image/build/build_0.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_1.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_2.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_3.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_4.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_5.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_7.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_8.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_9.webp" alt=""></li>
            </ul>
            <div class="pause"><img id="pause" src="../image/ico-pause.png" alt=""></div>
        </div>

        <div id="resonators" class="resonators">
            <header class="resonator-head">
                Choose resonator
                <ul class="list-races">
                    <li class="item-race">
                        <div>ALL</div>
                    </li>
                    <li class="item-race"><img src="../image/races/ico-aero.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-electro.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-fusion.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-glacio.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-havoc.png" alt="" ;"></li>
                    <li class="item-race"><img src="../image/races/ico-spectro.png" alt=""></li>
                </ul>
            </header>

            <div class="line"></div>

            <section class="resonator">

                <!-- List of Resonators -->
                <section class="list-resonators">
                    <div id="aalto" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/ico-aalto.webp" alt="">
                        </div>
                        <div class="name">Aalto</div>
                    </div>
                    <div id="baizi" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/ico-baizhi.webp" alt="">
                        </div>
                        <div class="name">Baizi</div>
                    </div>
                    <div id="calcharo" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-calcharo.webp" alt="">
                        </div>
                        <div class="name">Calcharo</div>
                    </div>
                    <div id="changli" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-changli.png" alt="">
                        </div>
                        <div class="name">Changli</div>
                    </div>
                    <div id="jinhsi" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-jinhsi.png" alt="">
                        </div>
                        <div class="name">Jinhsi</div>
                    </div>
                    <div id="jiyan" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-jiyan.png" alt="">
                        </div>
                        <div class="name">Jiyan</div>
                    </div>
                    <div id="lingyang" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-lingyang.webp" alt="">
                        </div>
                        <div class="name">Lingyang</div>
                    </div>
                    <div id="rover-m" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-rover-male.png" alt="">
                        </div>
                        <div class="name">Rover (M)</div>
                    </div>
                    <div id="sanhua" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/ico-sanhua.webp" alt="">
                        </div>
                        <div class="name">Sanhua</div>
                    </div>
                    <div id="yinlin" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-yinlin.webp" alt="">
                        </div>
                        <div class="name">Yinlin</div>
                    </div>
                    <div id="yuanwu" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/ico-yuanwu.webp" alt="">
                        </div>
                        <div class="name">Yuanwu</div>
                    </div>
                    <div id="zhezhi" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/ico-zhezhi.webp" alt="">
                        </div>
                        <div class="name">Zhezhi</div>
                    </div>
                    <div id="xiangliYao" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_25_UI.png" alt="">
                        </div>
                        <div class="name">Xiangli Yao</div>
                    </div>
                    <div id="shore" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_28_UI.png" alt="">
                        </div>
                        <div class="name">Shore Keeper</div>
                    </div>
                    <div id="camellya" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_29_UI.png" alt="">
                        </div>
                        <div class="name">Camellya</div>
                    </div>
                    <div id="lumi" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/T_IconRoleHead256_30_UI.png" alt="">
                        </div>
                        <div class="name">Lumi</div>
                    </div>
                    <div id="youhu" class="char">
                        <div class="img-char four-star">
                            <img src="../image/resonators/T_IconRoleHead256_31_UI.png" alt="">
                        </div>
                        <div class="name">Youhu</div>
                    </div>
                    <div id="carlotta" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_32_UI.webp" alt="">
                        </div>
                        <div class="name">Carlotta</div>
                    </div>
                    <div id="roccia" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_33_UI.webp" alt="">
                        </div>
                        <div class="name">Roccia</div>
                    </div>
                    <div id="cantarella" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_34_UI.webp" alt="">
                        </div>
                        <div class="name">Cantarella</div>
                    </div>
                    <div id="ciaccona" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_37_UI.webp" alt="">
                        </div>
                        <div class="name">Ciaccona</div>
                    </div>
                    <div id="zani" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_38_UI.png" alt="">
                        </div>
                        <div class="name">Zani</div>
                    </div>
                    <div id="cartethyia" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_40_UI.png" alt="">
                        </div>
                        <div class="name">Cartethyia</div>
                    </div>
                    <div id="brant" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_44_UI.png" alt="">
                        </div>
                        <div class="name">Brant</div>
                    </div>
                    <div id="phoebe" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_45_UI.png" alt="">
                        </div>
                        <div class="name">Phoebe</div>
                    </div>
                    <div id="lupa" class="char">
                        <div class="img-char five-star">
                            <img src="../image/resonators/T_IconRoleHead256_46_UI.webp" alt="">
                        </div>
                        <div class="name">Lupa</div>
                    </div>
                </section>

                <!-- Show resonator -->
                <div class="show-reson">
                    <div class="level">
                        <div class="name">
                            <img src="../image/races/ico-aero.png" alt="" id="race"> <span class="name-char">Cartethyia</span>
                        </div>
                        <div class="reson-img">
                            <img src="../image/Cartethyia/T_IconRole_Pile_katixiya_UI.webp" alt="">
                        </div>
                        <hr class="line">
                        <div class="level-up">
                            <label for="level">Level <span id="value">90</span></label> <br>
                            <input type="range" id="level" min="1" max="90" value="90">
                        </div>
                        <div class="basic-para">
                            <div class="hp">
                                <div class="left">
                                    <img src="../image/stats/ico-hp.png" alt="">
                                    <span>HP</span>
                                </div>
                                <div id="right-hp">14800</div>
                            </div>
                            <div class="atk">
                                <div class="left">
                                    <img src="../image/stats/ico-atk.png" alt="">
                                    <span>ATK</span>
                                </div>
                                <div id="right-atk">312</div>
                            </div>
                            <div class="def">
                                <div class="left">
                                    <img src="../image/stats/ico-def.png" alt="">
                                    <span>DEF</span>
                                </div>
                                <div id="right-def">611</div>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        
                    </div>
                </div>
            </section>
        </div>

    </div>

    <script src="../statics/scripts/character.js"></script>
    <script src="../statics/scripts/build.js"></script>
</body>

</html>