<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WuwaFlex</title>
    <link rel="stylesheet" href="../statics/css/base.css">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
</head>

<body>
    <div class="main">
        <nav>
            <ul class="nav-items">
                <li><img src="../image/wuwaflex-nav-logo-white1.png" alt="" width="16rem" height="3.5rem"></li>
                <li>Generator</li>
                <li>Builds</li>
                <li>Ranking</li>
                <li>Popular</li>
                <li>About</li>
                <li><img src="../image/ico-discord.webp" alt=""><img src="../image/kofi-badge.png" alt=""></li>
            </ul>
        </nav>

        <div id="ad"><img src="../image/banner-lootbar-v5.webp" alt=""></div>

        <div class="builds">
            <ul class="list-build">
                <li class="item-build"><img src="../image/build/build_0.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_1.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_2.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_3.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_4.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_5.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_7.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_8.webp" alt=""></li>
                <li class="item-build"><img src="../image/build/build_9.webp" alt=""></li>
            </ul>
            <div class="pause"><img id="pause" src="../image/ico-pause.png" alt=""></div>
        </div>

        <div id="resonators" class="resonators">
            <header class="resonator-head">
                Choose resonator
                <ul class="list-races">
                    <li class="item-race"><div>ALL</div></li>
                    <li class="item-race"><img src="../image/races/ico-aero.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-electro.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-fusion.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-glacio.png" alt=""></li>
                    <li class="item-race"><img src="../image/races/ico-havoc.png" alt="";"></li>
                    <li class="item-race"><img src="../image/races/ico-spectro.png" alt=""></li>
                </ul>
            </header>

            <div class="line"></div>
        </div>
    </div>

    <script src="../statics/scripts/build.js"></script>
</body>

</html>