:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    margin: none;
    padding: none;
    border: none;
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #f6f5f1;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Inconsolata", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.grid-wrap {
    display: flex;
    flex-wrap: wrap;
}