<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="search">
            <input type="text" class="search-input" placeholder="Nhập vào mã sinh viên hoặc tên">
            <button class="search-button">Tìm kiếm</button>
        </div>
        <table >
            <thead>
                <tr>
                    <th>Mã SV</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                    <th>Điểm</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>