body {
    /* background-color: var(--black-color); */
    color: var(--yellow-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(94, 7, 7, 0.6), rgba(98, 7, 7, 0.6)) ,url(https://images.hdqwalls.com/wallpapers/bitcoin-logo-black-background-4k-xe.jpg);
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, rgb(88, 88, 7), rgb(47, 66, 8));
    border-radius: 8rem;
}

/* Navbar */
.nav-web {
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    width: 100%;
    font-size: 2rem;
    padding: 2rem 4rem;
    z-index: 9999;
}


.nav-web .left {
    cursor: pointer;
    filter: drop-shadow(0 0 1rem yellow);
}

.nav-web .left a img {
    width: 18rem;
}

.nav-web .mid {
    display: flex;
    background-image: linear-gradient(to bottom, rgba(42, 41, 41, 0.3), rgba(41, 41, 41, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(.6rem);
}

.nav-web .mid div {
    border-radius: 1.8rem;
    padding: 2rem 3.6rem;
    cursor: pointer;
    font-size: 1.9rem;
}

.nav-web .mid a {
    text-decoration: none;
    color: var(--white-color);
}

.nav-web .mid div:hover {
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, .5), rgba(50, 50, 50, .5));
    box-shadow: .1rem .2rem 1rem #2c2c2c,
        .1rem .2rem 2rem #2c2c2c;
}

.nav-web .mid div:active {
    color: rgb(189, 187, 187);
}

.nav-web .right {
    /* border: .1rem solid var(--yellow-color); */
    color: var(--yellow-color);
    font-weight: 1000;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    letter-spacing: .14rem;
    background-color: var(--black-color);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-web .right::after {
    content: '';
    position: absolute;
    height: 108%;
    width: 103%;
    background: linear-gradient(to bottom right, yellow, rgb(214, 214, 39), rgb(170, 170, 45));
    border-radius: 10rem;
    z-index: -1;
}

.nav-web .right:hover {
    color: var(--black-color);
    box-shadow: .1rem .2rem 1rem var(--yellow-color),
        -.1rem .2rem 2rem var(--yellow-color);
    z-index: 0;
    text-shadow: none;
}

.nav-web .right:active {
    background-color: rgb(164, 218, 56);
}

/* SimplePay */
#simple {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sub-heading {
    margin-top: 14rem;
    font-size: 1.9rem;
    font-weight: 1000;
    cursor: default;
}

.hero-heading {
    font-size: 10rem;
    color: var(--white-color);
    font-weight: 1000;
    padding: 0 10rem;
    line-height: normal;
    cursor: default;
}

.hero-text {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 36rem;
    color: var(--white-color);
    cursor: default;
}

#simple .start {
    padding: 2rem 4rem;
    color: var(--yellow-color);
    background-color: #303030;
    border-radius: 10rem;
    font-weight: 1000;
    font-size: 1.6rem;
    cursor: pointer;
    border: 10m solid linear-gradient(to right, yellow, yellowgreen, green);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#simple .start::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 108%;
    border-radius: 10rem;
    background: linear-gradient(to bottom left, rgb(103, 211, 67), orange, yellow, gold, rgb(36, 197, 60), rgb(163, 233, 12), rgb(110, 229, 63));
    z-index: -1;
}

.start:hover {
    scale: 1.02;
    color: rgb(0, 32, 0) !important;
    transition: scale 1s;
}

/* Services */
.page {
    height: 100vh;
    padding-top: 10rem;
    display: flex;
    justify-content: space-around;
    margin: 0 3rem;
}

.st-left,
.nd-left,
.rd-left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: left;
    justify-content: center;
    cursor: default;
}

.st-sub,
.nd-sub,
.rd-sub {
    font-size: 2rem;
    font-weight: 1000;
    cursor: default;
}

.st-heading,
.nd-heading,
.rd-heading {
    font-size: 5.6rem;
    color: var(--white-color);
    font-weight: 1000;
    cursor: default;
}

.st-text,
.nd-text,
.rd-text {
    color: var(--white-color);
    padding-right: 20rem;
    font-size: 1.6rem;
    cursor: default;
}

.nd-right img,
.rd-right img {
    width: 54rem;
    filter: drop-shadow(0 0 1rem rgb(71, 71, 2));
    cursor: default;
}

.rd-button {
    margin: 0 auto 0 0;
    padding: 1.6rem 3rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 1000;
    background-color: #202022;
    color: var(--yellow-color);
    box-sizing: border-box;
    text-shadow: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rd-button::after {
    content: '';
    position: absolute;
    background-color: var(--yellow-color);
    width: 102%;
    height: 106%;
    border-radius: 10rem;
    z-index: -1;
}

.rd-button:hover {
    box-sizing: border-box;
    background-color: var(--black-color);
    color: var(--black-color);
    scale: 1.04;
    transition: scale .8s;
}

.rd-button:active {
    color: yellowgreen;
    border-color: yellowgreen;
}

/* Blockchains */
.heading {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 12rem 0 10rem 0;
    cursor: default;
}

.block-sub {
    font-size: 2rem;
    font-weight: 1000;
    cursor: default;
}

.block-heading {
    font-size: 6rem;
    color: var(--white-color);
    font-weight: 1000;
    padding: 0 31rem;
    cursor: default;
}

.block-text {
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 0 42rem;
    cursor: default;
}

.block-button {
    margin: 0 auto;
    background-color: var(--yellow-color);
    color: var(--black-color);
    font-size: 2.2rem;
    font-weight: 1000;
    cursor: pointer;
    border-radius: 4rem;
    padding: 1.6rem 3rem;
    text-shadow: none;
}

.block-button:hover {
    border: .2rem solid var(--yellow-color);
    color: rgb(255, 255, 0);
    backdrop-filter: blur(1.6rem);
    background-color: transparent;
    padding: 1.4rem 2.8rem;
    scale: 1.02;
    transition: scale 1s;
    transition: scale 0.2s;
}

.block-button:active {
    border-color: yellowgreen;
    color: yellowgreen;
}

/* Icons */
.icon {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.top5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.top5 img {
    box-shadow: 0 0 .2rem #202020 inset,
        0 0 .8rem #202020;
    padding: 5.2rem;
    border-radius: 4rem;
    background-color: #0b0b0b;
    cursor: pointer;
    box-sizing: border-box;
}

.top5 img:hover {
    box-shadow: 0 0 .6rem #303030 inset,
        0 0 1rem #303030,
        0 0 2rem #303030;
    animation: big_to_small ease-in 1.8s infinite;
}

.top5 img:active {
    background-color: #0f0f0f;
    box-shadow: 0 0 1rem #3d3d3d;
}

/* Footer */
footer {
    margin-top: 6rem;
    border-top: .2rem solid #3d3d3d;
    padding: 2rem 4rem;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    text-shadow: var(--white-color);
    background-color: #1a1a1a;
}

a {
    text-decoration: none;
}

.web {
    color: var(--yellow-color);
    text-shadow: 0 0 .3rem rgb(236, 236, 20);
}

.ytb {
    color: red;
    text-shadow: 0 0 .3rem rgb(216, 82, 82);
}

.web:hover,
.ytb:hover {
    text-decoration: underline;
}

/* Responsive */
/* PC */
@media (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }

    .fa-home {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    html {
        font-size: 50%;
        text-align: center;
    }

    #simple {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .sub-heading {
        font-size: 1.8rem;
    }

    .hero-heading {
        font-size: 8rem;
        padding: 0;
    }

    .hero-text {
        padding: 0 10rem;
    }

    .dash {
        display: none;
    }

    .fa-home {
        display: block !important;
    }

    .page {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .st-left,
    .nd-left,
    .rd-left {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .st-text,
    .nd-text,
    .rd-text {
        padding: 0;
    }

    .rd-button {
        margin: 0;
    }

    .block-heading {
        padding: 0 12rem;
    }

    .block-text {
        padding: 0;
    }

    .box {
        margin: 0 auto;
    }
}

/* Mobile */
@media (max-width: 739px) {
    html {
        font-size: 37.5%;
    }

    #simple {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .sub-heading {
        font-size: 1.8rem;
    }

    .hero-heading {
        font-size: 8rem;
        padding: 0;
    }

    .hero-text {
        padding: 0 10rem;
    }

    .dash {
        display: none;
    }

    .fa-home {
        display: block !important;
    }

    .page {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .st-left,
    .nd-left,
    .rd-left {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .st-text,
    .nd-text,
    .rd-text {
        padding: 0;
    }

    .rd-button {
        margin: 0;
    }

    .heading {
        display: flex;
        gap: 6rem;
    }

    .block-heading {
        padding: 0 12rem;
    }

    .block-text {
        padding: 0;
    }

    .box {
        margin: 0 auto;
    }
}

/* Box */
.box {
    padding: 2.8rem;
    border-radius: 1.8rem;
    background-color: #000;
    width: 50rem;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    border: .06rem solid #303030;
    box-shadow: 0 0 1rem #303030,
                0 0 2rem #303030,
                0 0 1rem rgb(91, 91, 3) inset;
}

.purchase {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid #2b2b2b;
}

.purchase-item1,
.purchase-item2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #fff;
    padding: 1.6rem 2rem;
    background-color: #303030;
    border-radius: 1rem;
    border: .08rem solid #686767;
}

.purchase-item1 {
    width: 75%;
}

.purchase-item1 .right1 {
    font-weight: 700;
}

.purchase-item2 {
    width: 25%;
}

.purchase-items {
    display: flex;
    gap: 16px;
}

.purchase-item2 .right1{
    position: relative;
    cursor: pointer;
}

.purchase-item2 .child {
    display: none;
    background-color: #2b2b2b;
    border: .1rem solid #808080;
    width: 11rem;
    border-radius: .8rem;
    position: absolute;
    right: -2rem;
    top: 4rem;
    z-index: 10;
}


.child .checked {
    display: flex;
    justify-content: space-between;
}

.child .no-checked {
    text-align: left;
}

.child li {
    padding: .6rem .8rem;
    border-radius: .8rem;
    cursor: pointer;
    border-radius: .8rem;
    border-bottom: .1rem solid #808080;
}

span {
    font-family: "Inconsolata", monospace;
}

.purchase-item2 .child li:hover {
    background-color: #808080;
}

.child::after {
    content: '';
    position: absolute;
    height: 3rem;
    width: 100%;
    display: block;
    top: -2.6rem;
    right: 0;
}

.fas.fa-angle-down:hover .child {
    display: block;
}

.purchase-item2 .child i span {
    margin-left: .4rem;
    font-weight: normal;
    font-size: 1.4rem;
    color: white;
}

.add {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid #2b2b2b;
}

.add-top {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.item-add {
    width: 50%;
}

.add-top .item-add .left {
    position: relative;
}

.add-top .item-add .left .select-add {
    position: absolute;
    background-color: #303030;
    display: none;
    right: 0;
    top: 4rem;
    border-radius: .8rem;
}
.select-add::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;
    top: -1.8rem;
}

.fas.fa-angle-down {
    cursor: pointer;
}

.fas.fa-angle-down:hover .select-add {
    display: block;
}

.select-add .country {
    padding: 1rem 5rem 1rem 2rem;
    font-family: "Inconsolata", monospace;
    cursor: pointer;
    border-radius: .8rem;
    border-bottom: .1rem solid #808080;
}



.select-add .country:hover {
    color: var(--yellow-color);
}

.select-add .country:active {
    color: yellowgreen;
}

.add-top .left,
.add-top .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    border: .08rem solid #686767;
}

.add-top .right div:nth-child(1) {
    padding-right: 1rem;
    border-right: .1rem solid #646464;
}

.add-top,
.add-bottom {
    text-align: left;
}

.add-bottom input {
    width: 100%;
    background-color: black;
    border: .08rem solid #686767;
    border-radius: 1rem;
    padding: 1rem 0 5rem 1rem;
    margin-top: 1rem;
    color: white;
}

.confirm {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    font-size: 1.8rem;
    font-weight: 1000;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    text-shadow: none;
}

.confirm:hover {
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: .1rem solid white;
}

.confirm:active {
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(248, 230, 230);
    border: .1rem solid rgb(250, 223, 223);
}